################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ecommerce/v15/Server/sqlite3/db.lock
/.vs/Ecommerce/v15/Server/sqlite3/storage.ide-wal
